#hero {
    background-color: var(--color7);
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

#hero img {
    max-width: 100%;
    max-height: 454px;
}

#mission {
    margin-bottom: 3rem;
}

.missiontext {
    display: block;
    line-height: 1.7;
}

.missionimg {
    max-height: 100px;
    display: block;
}

.stripe {
    background-color: var(--color2);
    color: white;
    padding: 1rem 0 2rem 0;
}

figure {
    margin: 0 0 0.5rem 0;
    padding: 0;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
}

figure img {
    margin-bottom: -4px;
    width: 100%;
    object-fit: cover;
    object-position: 0 -150px;
}

figcaption {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.875rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* make the a have a big clickable area with display: block - the link occupies its containing element, the figcaption */

figcaption a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--color1);
}

#featured figure {
    max-height: 650px;
}

#featured img {
    object-position: 0;
}


/* style is doing double duty, styling border color and hover color. Only one declaration usually applies though.  */

.color2,
.color2 a:hover {
    border-color: var(--color2);
    color: var(--color2);
}

.color3,
.color3 a:hover {
    border-color: var(--color3);
    color: var(--color3);
}

.color4,
.color4 a:hover {
    border-color: var(--color4);
    color: var(--color4);
}

.color6,
.color6 a:hover {
    border-color: var(--color6);
    color: var(--color6);
}

.color7,
.color7 a:hover {
    border-color: var(--color7);
    color: var(--color7);
}

.color8,
.color8 a:hover {
    border-color: var(--color8);
    color: var(--color8);
}

#donut img {
    width: 100%;
    border-radius: 5px;
}

#donut ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

#donut a {
    color: var(--color2);
}

#donut a:hover {
    text-decoration: none;
}

.d3 {
    grid-row: 1/2;
}

@media(min-width:550px) {
    .missiontext {
        display: flow-root;
        max-width: 900px;
    }

    .missionimg {
        float: left;
        max-height: 211px;
        shape-outside: polygon(35.84% 94.87%, 34.64% 87.05%, 51.64% 4.06%, 55.1% 2.38%);
    }

    section ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    section li {
        flex-basis: 49.5%;
    }

    #popular li:last-child {
        flex-basis: 100%;
    }

    #popular li:last-child figure img {
        object-position: 0 -350px;
    }

    /* turn off object position, inherit object-fit: cover */
    figure img {
        object-position: 0;
    }

    .colspan2 {
        grid-column: span 2;
    }

    .colspan3 {
        grid-column: span 3;
    }

    .rowspan2 {
        grid-row: span 2;
    }

    .rowspan3 {
        grid-row: span 3;
    }

    .rowspan2 figure {
        max-height: unset;
    }

    /* for some reason, the figures don't always fill their LI container. This keeps them evenly sized */
    figure {
        height: 100%;
    }
}

@media(min-width: 800px) {
    section h2 {
        margin-left: 100px;
    }

    #popular li:last-child {
        flex-basis: 32.5%;
    }

    #popular li:last-child figure img {
        object-position: 0;
    }

    #donut ul {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    .d1 {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    .d2 {
        grid-column: 1/2;
        grid-row: 4/6;
    }

    .d3 {
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .d4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .d5 {
        grid-column: 2/3;
        grid-row: 3/6;
    }

    .d3 img,
    .author {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .d3 img {
        opacity: 0.2;
    }

    .author {
        padding: 1rem;
        z-index: 1000;
    }
}