#mission {
    margin-bottom: 3rem;
}

.missiontext {
    display: block;
    line-height: 1.7;
}

.missionimg {
    max-height: 100px;
    display: block;
}

@media(min-width:550px) {
    .missiontext {
        display: flow-root;
        max-width: 900px;
    }

    .missionimg {
        float: left;
        max-height: 211px;
        shape-outside: polygon(35.84% 94.87%, 34.64% 87.05%, 51.64% 4.06%, 55.1% 2.38%);
    }
}