header {
    background-color: var(--color5);
}

header nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1.2em;
}

nav a {
    text-decoration: none;
    color: var(--color1);
    font-size: 1.2rem;
}

nav li:first-child {
    margin: 0 auto;
}

nav img {
    margin: 0;
}