:root {
	--color1: #001219;
	--color2: #005f73;
	--color3: #3d9397;
	--color4: #94d28d;
	--color5: #e9d8a6;
	--color6: #ee9800;
	--color7: #ca6702;
	--color8: #bb3e03;
	--color9: #ae2012;
	--color10: #9b2226;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #dbe5de;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.order1 {
	order: 1;
}

.order0 {
	order: 0;
}

.order-1 {
	order: -1;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}